.mat-mdc-header-cell {
  text-align: center;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 15px;
    text-align: center ;
}

table {
  width: 100%;
}

.mdc-data-table__cell[_ngcontent-ng-c1591183786], .mdc-data-table__header-cell[_ngcontent-ng-c1591183786] {
  margin: 119px;
}

